
body {
  background: url('/assets/bg.png');
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 90%;
  width: 960px;
  margin: 0 auto;
}

a, button {
  cursor: pointer;
  color: $blue;
  &:focus { outline: 1px dotted #333; }
}

header {
  @include clearfix;
  margin: 10px;

  h1 {
    text-shadow: 0 1px #FAFAFA;
    font-size: 135%;
    margin: 0;
    float: left;
  }

  p {
    font-size: 85%;
    margin: 0;
    float: left;
    clear: left;
  }

  aside {
    float: right;
  }
}

#main {
  @include outer-container;
  @include clearfix;

  section {
    @include span-columns(6);
    @include nth-omega(2n);
    @include translucent-outline(rgba(200,200,200,0.25));
    margin-bottom: 20px;

    @include box-shadow(0 1px 2px rgba(100, 100, 100, 0.25), 0 -3px 3px #EAEAEA inset);
    border: 1px solid #CCC;
    border-bottom-color: #BBB;
    background: white;
    float: left;
    position: relative;

    header {
      @include box-shadow(0 -1px 1px rgba(255,255,255,0.5) inset);
      border-bottom: 1px solid #DDD;
      @include linear-gradient(#FAFAFA, #EAEAEA);
      text-shadow: 0 1px white;
      padding: 0 0.5em 0.25em;
      margin: 0 0 0.5em;
      position: relative;


      h2 {
        font-size: 105%;
        font-weight: normal;
        margin: 4px 0 0;
      }

      form {
        display: inline;
        font-size: 90%;
      }
    }

    .throbber {
      margin: 10px auto;
      display: block;
    }

  }


  ul {
    list-style: none;
    font-size: 85%;
    width: 100%;
    margin: 0;
    padding: 0;

    li {
      border-bottom: 1px dotted #CCC;
    }

    li:nth-child(even) {
      background: $light-pale-green;
    }

    li {
      padding: 0.25em;
      text-align: left;

      word-wrap: break-word;

      a {
        &:hover { text-decoration: underline; }
      }
    }
  }
}
